.pageContainer {
  min-height: 100vh;
}
.searchSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  background-color: white;
  width: 50%;
  height: 50%;
  padding: 2rem;
  border-radius: 1rem;
}
.searchField {
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
}

.formGroup {
  margin-bottom: 1rem;
}

.searchButton {
  width: 100%;
}
